html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.todoBoard {
  display: flex;
  flex-wrap: wrap;
}
.todoCard {
  padding-left: 20px;
  margin: 10px;
  border: black solid 1px;
  width: 180px;
  overflow: scroll;
}

.todoCard form input {
  border: none;
  border-bottom: 1px dotted gray;
  padding: 10px;
}
.todoCard form input:focus {
  border-bottom: 1px dotted gray;
  outline: none;
}

button {
  display: inline-block;
  padding: 5px;
  background-color: whitesmoke;
  border: none;
  border-radius: 5%;
  color: gray;
  font-size: 10px;
}

button:hover {
  background: dodgerblue;
  color: white;
}

.todoCard button{
  margin-left: 20px;
}

.task-item th{
  
  font-weight: 100;
  font-size: 12px;
  text-align: left;
}
.task-item th:nth-child(2){
  width: 50px;
}
